<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#proaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>

    <!-- Button INSTAGRAM -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://www.instagram.com/barcelonetapowers/">
                <h3 style="color: #ffc720">Instagram
                    <i class="fab fa-instagram"></i>
                </h3>
            </a>
        </button>
    </div>

    <!-- Button Mapa Sonor -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Fruit de la col·laboració amb l'antropòloga sonora i veïna Ilaria Sartori en el marc del seu projecte Barceloneta Sonora." >
            <a href="https://freesound.org/people/BarcelonetaPowers/packs/">
                <h3 style="color: #ffc720">Mapa Sonor
                    <i class="fas fa-map-marker-alt"></i>
                </h3>
            </a>
        </button>
    </div>

    <!-- Modal CONTACTE-->
    <div class="modal fade" id="proaModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte Barceloneta Powers</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-proa.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--FORMULARI DE CONTACTE-->

<!--CONTINGUT-->

<img class="img-fluid me-2 w-50 float-start" src="img/barceloneta-powers.jpg" alt="">

<!--Cita-->
<figure class="text-center  p-3">
    <blockquote class="blockquote">
        <p style="color:slategray;">Els infants jugant al carrer son un bon indicador de la qualitat de vida comunitària
        </p>
    </blockquote>
    <figcaption class="blockquote-footer">
        Jan Gehl, Urbanista<cite title="Source Title"></cite>
    </figcaption>
</figure>

<hr>

El projecte "<b>Barceloneta Powers</b>, el barri que educa, el barri que cuida” vol contribuir a que La Barceloneta
esdevingui <b>un barri educador i de cures</b> on, més enllà de les escoles, <b>sigui el propi teixit social, l’espai
    públic i els agents del territori</b> qui <b>esdevinguin part d’una comunitat educativa activa i transformadora</b>
que <b>defensi les necessitats dels infants</b>, així com la reapropiació de l’espai públic per part d’aquests. Un espai
públic que també els hi pertany i que la visió adultocèntrica de les ciutats els hi ha segrestat. <br><br>

<b>Barceloneta Powers</b> és una proposta socioeducativa comunitària que pretén atendre les necessitats dels infants de
la Barceloneta des del propi territori (bottom-up). Fent <b>esdevenir l’espai públic del barri un espai educatiu i
    transformador</b> i entenent l’aire lliure com un <b>entorn segur. Amb la finalitat de prevenir problemes de salut
    emocional i psicològica dels infants</b>, així com la de les seves famílies (promovent la conciliació familiar), i
enfortint d’aquesta manera l’<b>educació comunitària del territori</b> tot ajudant a <b>reactivar i a reforçar el
    barri</b> després d'un context pandèmic. <br><br>

A través d'aquest projecte es pretén continuar enfortint el teixit social del barri <b>repensant accions i propostes
    socioeducatives a la Barceloneta en clau comunitària</b>, contribuint així a construir un barri on <b>totes les
    persones</b> (infants, adults i gent gran), <b>sentin que formen part de la vida pública del seu barri</b>, dotant i
recuperant d’aquesta manera l’<b>ús saludable de l’espai públic</b> amb i per a les persones que el transiten. <br><br>

<b>Les places, els carrers, la platja, els equipaments, el comerç, la restauració de proximitat</b>... Esdevenen actors
educatius a través d’un seguit d’<b>intervencions, tallers, casals i activitats fora escola a l’aire lliure</b>, amb
contingut de qualitat i metodologia innovadora, que <b>posen l’infant al centre de tot creant entre totes un barri que
    cuida, un barri escola.</b> <br><br>


<!--Cards objectius-->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <i class="fas fa-child display-6 text-blue"></i>
                    <h5 class="card-title text-blaucel">Objectiu 1</h5>
                    <p class="card-text">Posar l'infant al centre i visibilitzar les seves necessitats com a ciutadà de
                        ple dret</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <i class="fas fa-users display-6"></i>
                    <h5 class="card-title text-blaucel">Objectiu 2</h5>
                    <p class="card-text">Implicar a tot el teixit social en clau comunitària en la tasca sòcioeducativa
                        dels
                        infants</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <i class="fas fa-street-view display-6"></i>
                    <h5 class="card-title text-blaucel">Objectiu 3</h5>
                    <p class="card-text">Fer esdevenir l'espai públic un agent educatiu del territori</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card" style="width: 100%;">
                <div class="card-body text-center">
                    <i class="fas fa-heart display-6"></i>
                    <h5 class="card-title text-blaucel">Objectiu 4</h5>
                    <p class="card-text">Reactivar i reforçar el barri des de la mirada comunitària</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

<!--INFOGRAFIA-->
<div class="row mb-3 p-1">
    <div class="col-lg-6">
        <img src="../img/barceloneta-powers-infografia-01.jpg" alt="">
    </div>
    <div class="col-lg-6"><img src="../img/barceloneta-powers-infografia-02.jpg" alt=""></div>
</div>

<!--VIDEO-->
<div class="row g-4 mx-1">
    <div class="col-lg-8 video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/NYCzeEEuWg0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="col-lg-4"></div>
</div>
<br>

<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="../img/barceloneta-powers-15.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="../img/barceloneta-powers-01.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.4s">
        <img src="../img/barceloneta-powers-02.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/barceloneta-powers-03.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-07.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-08.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-09.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-10.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-11.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-12.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-13.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/barceloneta-powers-14.jpg">
    </div>
</div>


<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <!-- Button Contacte -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#proaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>


    <hr>
</div>