<!--FORMULARI DE CONTACTE-->
<!-- Button trigger modal -->
<hr>
<button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#bdtModal">
    <h3 style="color: #ffc720">Participa! <i class="far fa-comment-dots"></i></h3>
</button>
<hr>
<!-- Modal -->
<div class="modal fade" id="bdtModal" tabindex="-1" aria-labelledby="bdtModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bdtModalLabel">Contacte Banc del Temps</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <p>Si vols informació sobre el Banc del temps, vols donar-te d'alta o tens
                    idees i propostes, escriu i et contestarem tan aviat com sigui possible
                    :)</p>
            </div>
            <div class="modal-body">

                <!--Formulari de contacte-->
                <div w3-include-html="layouts/formulari-bdt.html"></div>
                <script>
                    includeHTML();
                </script>

            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->

<img class="img-fluid w-50 ms-2 float-end" src="../img/bdt-01.png" onmouseover="this.src='../img/bdt-02.png'"
    onmouseout="this.src='../img/bdt-01.png'">



<h3 class="mb-2 text-blue">Què és el banc del temps?</h3>

Es tracta d'intercambiar necessitats per habilitats, sense ànim de lucre i sense diners pel mig.
<br>
<br>
Cada persona usuària és titular d'un compte corrent que registra el saldo de temps disponible.
Aquest compte corrent el pots gestionar des del teu mòbil o ordinador, com els bancs normals, amb un
software que es diu
<a href="https://www.timeoverflow.org" target="blank">Timeoverflow <i class="bi bi-box-arrow-right"></i></a>
<br>
Si ho prefereixes pots anar a la secretaria
i allà una persona t'acompanyarà en la gestió del teu compte i saldo d'hores.
<br> <br>
La unitat d'intercanvi és l'hora, independentment del servei que s'fereixi o es rebi. Cada servei,
coneixement, habilitat intercambiada té el mateix valor, mesurat en unitats de temps. <br><br>

<!--COM PARTICIPAR?-->

<div class="">
    <h3 class="my-2 text-blue">Com participar?</h3>
    <p class=" ">
        Tothom pot participar al Banc del Temps en funció de les ganes i la disponibilitat que tingui.
        <br>Formes de
        participació:
    </p>


    <!--pestañas-->
    <div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" style="color: #ffc720" id="usuari-tab" data-bs-toggle="tab"
                    data-bs-target="#usuari" type="button" role="tab" aria-controls="usuari"
                    aria-selected="true">Usuari/a
                    del BdT
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="gestor-tab" data-bs-toggle="tab" data-bs-target="#gestor" type="button"
                    role="tab" aria-controls="gestor" aria-selected="false">Membre de l'equip
                    gestor</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="secre-tab" data-bs-toggle="tab" data-bs-target="#secre" type="button"
                    role="tab" aria-controls="secre" aria-selected="false">Funcions de
                    secretaria
                </button>
            </li>
        </ul>
        <!--contenido pestañas-->
        <div class="tab-content" id="myTabContent">
            <!--pestaña 1: usuari bdt-->
            <div class="tab-pane fade show active p-lg-5 bg-light" id="usuari" role="tabpanel"
                aria-labelledby="usuari-tab">
                Com
                a usuari/a del BdT hauràs d'oferir les teves hores
                realitzant algún servei o activitat que tu decideixis.
                <br> També podràs rebre hores dels serveis, tallers o activitats que
                t'interessin. <br><br>
                <!--acordion-->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Què puc oferir?
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Pots oferir el que tu vulguis. Qualsevol cosa que
                                pensis que t'agradaria compartir amb altres persones perque penses que pot
                                resultar útil, o divertit, o interessant, o simplement perquè t'agrada i ho
                                vols oferir. Alguns exemples:

                                <img class="img-fluid" src="../img/bdt-04.png" alt="">

                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Què puc rebre?
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Podràs rebre qualsevol de les activitats, serveis,
                                tallers, etc, que ofereixin les altres persones del banc del temps. Per
                                tant, quantes més persones formem part del banc del temps més varietat i més
                                possibilitat de trobar el que necessitem o ens ve de gust.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                I tot això com es fa?
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">Primer de tot t'has de donar d'alta com a usuari/a
                                del BdT. Això ho fem presencialment a l'espai de secretaria. <br><br> Un cop
                                t'has donat d'alta comptem amb un programa desenvolupat i
                                cedit per <a href="https://www.bdtonline.org/ca/" target="blank">
                                    l'Associació de Bancs de Temps (ABdT) <i class="bi bi-box-arrow-right"></i></a>
                                que es diu <a href="https://www.timeoverflow.org" target="blank">Timeoverflow <i
                                        class="bi bi-box-arrow-right"></i></a> i que s'assembla molt al
                                les aplicacions de gestió de comptes dels bancs, amb la diferència que
                                amb aquest el que gestionem és temps i no diners. <br>
                                Amb el Timeoverflow també accedim a totes les ofertes i demandes del
                                banc del temps i al contacte dels diferents membres per a poder
                                sol·licitar el seu temps i que ens el sol·licitin a nosaltres. <br> <br>
                                Si Prefereixes tractar amb persones abans que amb el programa pots venir
                                a la secretaria
                                del banc del temps.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--pestaña 2: membre equip gestor-->
            <div class="tab-pane fade p-lg-5 bg-light" id="gestor" role="tabpanel" aria-labelledby="gestor-tab">
                El Banc del Temps necessita un grup de persones que s'encarreguin de totes les tasques
                relacionades amb la organització així com de prendre les decisions que es presentin de forma
                consensuada. <br>
                Aquestes tasques inclourien la convocatòria i gestió de tallers, de les activitats, de les
                trobades del BdT, de la secretaria, etc. <br><br>
                <b>Sense grup gestor el BdT no pot funcionar, t'animes? <br><br> Et necessitem! </b>
            </div>
            <!--pestaña 3: secretaria-->
            <div class="tab-pane fade p-lg-5 bg-light" id="secre" role="tabpanel" aria-labelledby="secre-tab">
                Les persones de la secretaria s'encarreguen de fer les altes de nous membres, de gestionar
                amb l'aplicació Timeoverflow l'intercanvi d'hores de les persones que no ho facin des de
                casa, de contestar consultes i emails sobre el banc del temps, etc. <br><br>
                Que no saps fer res de tot això? <br>
                No et preocupis, si tens capacitat per fer servir l'ordinador a nivell d'usuari només és
                qüestió de que et familiaritzis amb el Timeoverflow, t'ajudarem a fer-ho. <br><br>
                LES HORES QUE INVERTEIXES EN SECRETARIA LES COBRES I SE SUMEN AL TEU SALDO DEL BdT <BR></BR>
                Sense secretaria el BdT no pot funcionar, t'animes? <br><br> Et necessitem!
            </div>
        </div>
    </div>
    

    <!--video-->
    <h3 class="mt-4 text-blue">Vídeo</h3>
    <div class="row mb-2 ms-1">
        En aquest vídeo les companyes del BdT de Bilbao ens expliquen de forma divertida què és el Banc del Temps.
    </div>
    <div class="row mx-1">
        <div class="col-lg-8 video-responsive mb-4">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/36A1VSArcX8"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <!-- Button trigger modal -->
    <div class="row mt-5">
        <hr>
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#bdtModal">
            <h3 style="color: #ffc720">Participa! <i class="far fa-comment-dots"></i></h3>
        </button>
        <hr>
    </div>
</div>