<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacteModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacteModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre la comissió d'habitatge, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-50 m-2 float-end" src="../img/habitatge-06.jpeg" alt="">
La <b>Comissió d’habitatge de la Barceloneta</b> es va crear l’octubre de 2012 en el marc de la Taula de Bon Veïnatge
del Pla Comunitari (espai de treball comú on participen entitats i serveis públics). En una primera etapa se centra a
buscar un consens al barri per definir uns objectius compartits respecte a l’habitatge, posar sobre la taula la
necessitat d’organització veïnal per defensar el dret a l’habitatge, i obtenir (i difondre) informacions relatives a
l’habitatge (lleis, serveis, recursos, etc.), com a eines importants per poder actuar. També comença a intervenir de
manera molt incipient acompanyant en el seu procés a persones afectades i aturant desnonaments. <br><br>

El maig de 2014, es presenta en roda de premsa el <a class="text-blaucel" href="../pdf/Manifest-Dret-Habitatge-Digne.pdf">Manifest per al Dret a un Habitatge Digne <i class="fa fa-file-pdf text-primary"></i></a> resultat d’un procés col·lectiu de definició d’objectius i demandes en relació amb l’habitatge. Al Manifest reclamàvem: 
<ul>
    <li>que no hi hagi desnonaments sense alternativa habitacional</li>
    <li>que s’incrementi la dotació d’habitatge de lloguer social</li>
    <li>que es garanteixi que els veïns es poden quedar al barri
        (sobretot en el cas de la gent gran)</li>
    <li>que es prenguin mesures contra els pisos turístics</li>
    <li>que es penalitzin els habitatges buits</li>
    <li>i que l’Administració es comprometi a treballar amb la xarxa del barri</li>
</ul>
S’hi van adherir un munt d’entitats de la Barceloneta, així com del Districte de Ciutat Vella i de la ciutat. <br><br>

Paral·lelament al Manifest, al 2014 la Comissió promou la constitució de <b>l’Assemblea d’Habitatge de la Barceloneta</b>, amb la voluntat de promoure l’ajuda mútua i l’organització veïnal de les persones que es troben en risc de pèrdua de la vivenda i poder així, fer front col·lectivament al problema de l’habitatge al barri. <br><br>
Des del 2017 comptem, a més, amb <b>l’acompanyament  i orientació d’advocats</b> (primer de l’Oficina d’Habitatge i després de l’entitat Oasi Urbà). <br><br>

A partir del 2016, amb la incorporació de veïns del <b>Moviment Veïnal Barceloneta Diu Prou</b> a la Comissió d’Habitatge, <b>s’unifica i reforça la lluita veïnal per l’habitatge i contra l’especulació i turistificació del barri</b>, la qual fins aquell moment havia estat organitzada de manera diferenciada: per una banda les lluites per l’habitatge i per altra, contra els pisos turístics.<br><br>

Durant aquests anys, la Comissió d’Habitatge de la Barceloneta hem:
<ul>
    <li>Mobilitzat per aturar desnonaments al barri</li>
    <li>Acompanyat i orientat veïns en situació de risc de pèrdua de l’habitatge i de pobresa energètica</li>
    <li>Organitzat xerrades informatives sobre els diferents recursos disponibles</li>
    <li>Organitzat actes públics amb diferents col·lectius del barri i la ciutat vinculats en la defensa del dret a l’habitatge,
        per conscienciar el veïnat i denunciar l’especulació amb l’habitatge i l’expulsió de veïns, i per donar a conèixer les
        lluites i alternatives articulades des del moviment veïnal</li>
    <li>Participat en la definició, difusió i seguiment del programa Canvia’t d’Habitatge</li>
    <li>Buscat la complicitat d’altres agents, tant públics com de col·lectius i veïns</li>
    <li>Publicat amb el suport del Districte de Ciutat Vella, la <a class="text-blaucel"  href="../pdf/Guia-Llogater.pdf">Guia del Llogater en Perill <i class="fa fa-file-pdf text-primary"></i></a> amb una sèrie d’orientacions
        legals i altres informacions útils per difondre els drets dels llogaters</li>
    
</ul>

<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="../img/habitatge-01.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="../img/habitatge-02.jpg">
    </div>

   <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
    <img src="../img/habitatge-14.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/habitatge-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.6s">
        <img src="../img/habitatge-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.8s">
        <img src="../img/habitatge-03.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.9s">
        <img src="../img/habitatge-08.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/habitatge-09.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/habitatge-10.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/habitatge-11.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="1.0s">
        <img src="../img/habitatge-12.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="1.0s">
        <img src="../img/habitatge-13.jpg">

        <div class="mItem wow fadeInUp" data-wow-delay="1.0s">
            <img src="../img/habitatge-07.jpg">
        </div>
    </div>
</div>


<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacteModal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>