<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <!-- Button MPROJECTE PROMETEUS PDF -->
    <div class="col-lg-9 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="../pdf/prometeus.pdf">
                <h3 style="color: #ffc720">Projecte Prometeus 
                    <i class="fa fa-file-pdf"></i></h3>
            </a>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte Prometeus </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--Formulari-->
                <div class="modal-body">
                    <div w3-include-html="layouts/formulari-casal-comunitari.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-50 me-3 float-start" src="../img/prometeus-logo.png" alt="">
<p class="">

    <b> Des de la promoció 2021-2022, els estudiants de l’institut Salvat Papasseit de la Barceloneta que decideixen fer el pas d'anar a la universitat, compten amb el suport del projecte Prometeus.</b> <br><br>

    L’objectiu principal del projecte és aconseguir l'<b>augment del nombre d’estudiants del barri que van a la universitat</b>, provocant un efecte bola de neu que generi <b>referents universitaris al barri</b>. A la Barceloneta el projecte ha estat impulsat des del Districte de Ciutat Vella i el Consorci d’Educació de Barcelona i es desenvolupa mitjançant el Pla Comunitari de la
    Barceloneta. <br><br>

    A nivell efectiu, l’alumnat compta <b>des de 4t de la ESO fins a la finalització dels seus estudis universitaris amb un servei d’acompanyament divers, tant administratiu com motivacional i acadèmic</b>. A més, fomenta la col·laboració recíproca dels alumnes que cursen estudis similars o dintre de les mateixes facultats. Al finalitzar els estudis, els estudiants Prometeus col·laboraran amb els següents estudiants, tal i com ells van ser ajudats.

</p>

