<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#guinguetaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>

    <!-- Modal CONTACTE-->
    <div class="modal fade" id="guinguetaModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte Guingueta Proa a la Mar</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-proa.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--FORMULARI DE CONTACTE-->

<!--CONTINGUT-->
<!--Container amb 4 files-->
<div class="container p-0">
    <div class="row">
        <div class="d-inline">
            <img class="img-fluid w-50   img-fluid w-50 ms-4 mb-4 float-end" src="../img/guingueta-02.jpg"
                alt="">

            Hola, som la guingueta Proa a la Mar! <br> <br>

            Una iniciativa d’emprenedoria comunitària que vol impulsar, potenciar i enfortir l’economia
            local de la Barceloneta amb valors de l’economia social i solidària. <br> <br>

            Apostem per la inserció laboral de persones aturades de la Barceloneta i defensem la
            dignificació del sector de la restauració i els drets laborals dels treballadors i
            treballadores. <br> <br>

            Els nostres proveïdors, productors i productes són locals, promovem el consum conscient i
            responsable, i els materials d’un sol ús que fem servir són biodegradables. <br> <br>

            Volem recuperar i difondre la cultura marinera de la Barceloneta des de la gastronomia i la
            tasca comunitària. <br> <br>

            Saps? Consumint a la guingueta Proa a la Mar estàs apostant per la transformació social, la
            intercooperació… I el més rellevant de tot, estàs posant les persones i el territori al
            centre! <br> <br>

            Què vols prendre? 😉 <br><br><br>
        </div>
    </div>
    <div class="row">
        <!--VIDEO INAUGUARACIÓ GUINGUETA-->

        <h3 class="my-4 text-blue">Vídeo</h3>
        <div class="row ms-1">
            En aquest vídeo podeu veure la inauguració de la Guingueta.
        </div>
        <div class="row ms-1 mt-2 mb-5">
            <div class="col-lg-8 video-responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3dO5P7VuMUM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
            <div class="col-lg-4"></div>
        </div>
    </div>
    <div class="row">
        <!--MAPA GOOGLE-->
        <h2 class="text-blue">On som?</h2>
        <div class="row mt-2">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2993.5075089490847!2d2.1932577156254336!3d41.38478360411909!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12a4a30a6b1c02fd%3A0x145aa4b5a35e6eee!2sGuingueta%20Proa%20a%20la%20Mar!5e0!3m2!1ses!2ses!4v1653984248927!5m2!1ses!2ses"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <!-- Button Contacte -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#guinguetaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>


    <hr>
</div>