<!--FORMULARI DE CONTACTE-->
<div class="row">
    <!-- Button trigger modal -->
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#piolModal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
    <!-- Modal -->
    <div class="modal fade" id="piolModal" tabindex="-1" aria-labelledby="piolModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="piolModalLabel">Contacte PIOL</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-piol.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->
<p class="">
    El PIOL és el Punt d'Informació i Orientació Laboral de la Barceloneta. El nostre
    objectiu és <b>acompanyar els veïns i veïnes del barri en la cerca activa de  feina</b>, oferint
    un espai on es fan de manera <b>gratuïta</b> les següents actuacions: 
    <ul>
        <li>Orientació laboral i formativa - Intermediació laboral</li>
        <li>Procés de selecció personalitzat</li>
        <li>Formació ocupacional</li>
        <li>Formació en drets laborals bàsics</li>
        <li>Prospecció empresarial</li>
    </ul>
    El punt diferencial del servei d'orientació del PIOL és la seva <b>estructura comunitària</b>, 
    fet que marca la visió i la intervenció amb les persones participants. El PIOL entén
    l’<b>orientació laboral com un procés integral que té l'objectiu de fer un acompanyament
        al llarg de tota la vida laboral</b> de les veïnes i els veïns per construir un projecte
    professional, sabent que pot ser redefinit en qualsevol moment tant per la demanda
    d’un mercat laboral canviant, com per les circumstàncies de la pròpia persona.
    <b>Contemplem les persones d’una manera holística</b> tenint en compte la seva situació en
    termes d'habitatge, salut, situació familiar, etc., per poder fer un <b>itinerari
        personalitzat</b>, a la seva mida. <br><br>
    <b>Com a part del Pla Comunitari de la Barceloneta considerem la inserció laboral un mitjà
        primordial per la inclusió social i la millora del teixit veïnal, i atenem a qualsevol
        persona del barri posant l'accent en les persones en situació vulnerable.</b> <br><br>


</p>

<!--accordion-->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <!--Pacte per una ocupació digna-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h3 class="text-blue">Pacte per una Ocupació Digna a la Barceloneta</h3>
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                El Pacte per una Ocupació Digna a la Barceloneta dona continuïtat a l’anterior
                Pacte per l’Ocupació i el Desenvolupament de la Barceloneta, creat en el marc del
                projecte Barceloneta Proa a la Mar. L’anterior pacte comprenia el període del 2015 al
                2020 i va ser participat per més de 200 veïns, veïnes, entitats i organitzacions del
                territori, que per mitjà d’un procés participatiu en 3 sessions, van decidir en el marc de
                3 eixos de treball: ocupació, formació i economia local, tot un seguit d’accions per dur
                a terme en el context d’aquest pacte. <b>L’actual pacte té com a objectiu promoure una
                    economia al servei d'una ocupació de qualitat; una cultura empresarial que pensi en
                    l’activitat econòmica però també en el retorn social</b>. En definitiva, aposta per un model
                territorial on
                aquesta activitat econòmica contribueixi a <b>reduir les desigualtats socials i a redistribuir la
                    riquesa als
                    barris</b>. <br><br>
                El Pacte per una Ocupació Digna a la Barceloneta s’articula de la següent manera:
                <ul>
                    <li>Acords de contractació, formació i/o altres propostes que puguin millorar
                        l'ocupabilitat de les veïnes i veïns de La Barceloneta.
                    </li>
                    <li>La creació d’un espai permanent de coordinació, suport i impuls d’iniciatives
                        laborals i econòmiques: <b>La Taula d’Empreses de la Barceloneta</b>.
                    </li>
                    <li>La difusió d'aquesta col·laboració público-privada-comunitària a través de
                        canals de comunicació comunitaris propis i de l'administració local.
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--Taula d'empreses-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                <h3 class="text-blue">Taula d’Empreses de la Barceloneta</h3>
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                La Taula d’Empreses de la Barceloneta s’ha constituït com un espai semestral on es
                puguin <b>idear, incubar  i revisar acords fets amb les empreses, comerços i agents del
                    territori</b> participants. Els nostres reptes com agent que dona servei a la comunitat de la
                Barceloneta són, donar eines i acompanyar perquè les persones aturades trobin feina,
                posant l’accent a les veïnes més vulnerables que per diferents motius estan en risc
                d’exclusió social. <b>El treball amb les empreses i agents del territori ens ha d’ajudar a
                    fomentar i retenir el talent local per mitjà d’una formació i una ocupació de qualitat</b>. <br>

                La Taula d’Empreses ha de ser un espai on dur a terme <b>iniciatives socioeconòmiques
                    conjuntes</b> que vagin en la mateixa direcció, per tal de <b>donar respostes laborals i
                    formatives tant a les necessitats de les veïnes de la Barceloneta</b>, com a tots els agents
                que col·laboren amb el PIOL_Proa a la Mar en aquest espai. L’objectiu és treballar
                conjuntament i enriquir-nos mútuament. <br> <br>

                <a class="text-blaucel"
                    href="https://drive.google.com/file/d/1Ypxpt4muWi9vT0CGtAesnEUCaEVj7L6c/view">Acta-Informe de la
                    TAULA
                    D'EMPRESES DE LA BARCELONETA-DESEMBRE 2021 <i class="text-primary fas fa-external-link-alt"></i></a>
                <br>
            </div>
        </div>
    </div>
    <!--Informes trimestrals PIOL-->
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                <h3 class="text-blue">Informes trimestrals PIOL</h3>
            </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">

                <!--Informes-->
                <div class="row g-4">
                    <!--1-->
                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                style="width: 60px; height: 60px;">
                                <a href="../pdf/piol-informe-març-abril-2021.pdf"><i
                                        class="fa fa-file-pdf fa-2x text-primary"></i></a>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Març-Abril</p>
                                <h5 class="mb-0 text-blue">2021</h5>
                            </div>
                        </div>
                    </div>
                    <!--2-->
                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                style="width: 60px; height: 60px;">
                                <a href="../pdf/piol-informe-maig-juny-2021.pdf"><i
                                        class="fa fa-file-pdf fa-2x text-primary"></i></a>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Maig-Juny</p>
                                <h5 class="mb-0 text-blue">2021</h5>
                            </div>
                        </div>
                    </div>
                    <!--3-->
                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                style="width: 60px; height: 60px;">
                                <a href="../pdf/piol-informe-octubre-desembre-2021.pdf"><i
                                        class="fa fa-file-pdf fa-2x text-primary"></i></a>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Octubre-Desembre</p>
                                <h5 class="mb-0 text-blue">2021</h5>
                            </div>
                        </div>
                    </div>
                    <!--4-->
                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                style="width: 60px; height: 60px;">
                                <a href="../pdf/piol-informe-gener-març-2022.pdf"><i
                                        class="fa fa-file-pdf fa-2x text-primary"></i></a>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Gener-Març</p>
                                <h5 class="mb-0 text-blue">2022</h5>
                            </div>
                        </div>
                    </div>
                    <!--5-->
                    <div class="col-12">
                        <div class="d-flex align-items-center">
                            <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                style="width: 60px; height: 60px;">
                                <a href="../pdf/piol-informe-gener-març-2022.pdf"><i
                                        class="fa fa-file-pdf fa-2x text-primary"></i></a>
                            </div>
                            <div class="ms-4">
                                <p class="mb-2">Abril-Juny</p>
                                <h5 class="mb-0 text-blue">2022</h5>
                            </div>
                        </div>
                    </div>


                    <!--Per incloure més documents canviar: ruta <a href>, i text <p> i <h5>-->
                    <!--
                                     <div class="col-12">
                                    <div class="d-flex align-items-center">
                                        <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                            <a href="memos/Memoria_dactuacio_2020_2021.pdf"><i class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                        </div>
                                        <div class="ms-4">
                                            <p class="mb-2">Memòria</p>
                                            <h5 class="mb-0 text-blue">2021</h5>
                                        </div>
                                    </div>
                                </div>
                                -->

                </div>

            </div>
        </div>
    </div>









</div>

<!--IMATGES-->
<div class="row mt-4">
    <div class="col-md-4 mb-3"><img src="../img/piol-03.png" alt=""></div>
    <div class="col-md-4 mb-3"><img src="../img/piol-02.png" alt=""></div>
    <div class="col-md-4"><img src="../img/empty-img.jpeg" alt=""></div>
</div>

<!--PROJECTES-->
<div class="">
    <h3 class="my-4 text-blue">Projectes</h3>
    <p class=" ">
        <!--pestañas-->
        <div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" style="color: #ffc720" id="usuari-tab" data-bs-toggle="tab"
                        data-bs-target="#usuari" type="button" role="tab" aria-controls="usuari"
                        aria-selected="true">Persianes Vives
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="gestor-tab" data-bs-toggle="tab" data-bs-target="#gestor" type="button"
                        role="tab" aria-controls="gestor" aria-selected="false">Tast d'Oficis</button>
                </li>

            </ul>
            <!--contenido pestañas-->
            <div class="tab-content" id="myTabContent">
                <!--pestaña 1: Persianes Vives-->
                <div class="tab-pane fade show active p-lg-5 bg-light" id="usuari" role="tabpanel"
                    aria-labelledby="usuari-tab">
                    El projecte Persianes 2022 posa en valor l’art urbà com un mitjà per a la inserció
                    sociolaboral de joves del barri de la Barceloneta, així com el treball per a la cohesió
                    social i la interculturalitat de tota la comunitat.
                    <b>Emmarcat dins del programa Salut als
                        Barris , el projecte cerca la millora de la salut i el benestar de les persones a través de
                        la pràctiques artístiques i creant aliances entre els artistes, les institucions públiques i
                        les comunitats del barris.</b> <br> <br>
                    Es vol treballar el vincle amb la comunitat fent servir l’art com una eina que fomenta 
                    l’expressió, la participació i la col·laboració de diferents agents: els joves del barri (16 a
                    25 anys), els comerciants, els artistes, el veïnat en general... L’art i l’acció artística
                    estan al servei de la comunitat: es crea i desenvolupa un projecte creat des de la pràctica
                    artística amb un resultat per al barri i que <b>és un procés no finit, ja que es
                        pretén continuar en properes edicions, esdevenint un projecte que és propietat de la
                        comunitat i està viu</b>. <br> <br>
                    <b>Amb aquest projecte l’art és considerat com una metodologia per treballar de manera
                        transversal aspectes com la inserció laboral, els bons hàbits i el pensament crític</b> entre
                    els joves. L’art urbà  esdevé una eina que ens apropa a les realitats socials i fa conviure
                    diferents generacions i cultures enfortint vincles comunitaris. Els grafits es fan de
                    manera consensuada, amb una finalitat pràctica i social, buscant la complicitat de la
                    comunitat. <b>Es dóna visibilitat als comerços amb la intenció d’afavorir l’economia local i
                        el consum responsable i de proximitat</b>.

                </div>
                <!--pestaña 2: Tast d'Oficis-->
                <div class="tab-pane fade p-lg-5 bg-light" id="gestor" role="tabpanel" aria-labelledby="gestor-tab">
                    Després de dos anys d'aturada, Barceloneta Proa a la Mar ha pogut tornar a engegar el
                    projecte Tast d'Oficis a la seva 5a edició, on el PIOL ha col·laborat donant suport al
                    projecte. <b>El projecte dona a conèixer als joves que estan cursant 4rt d'ESO les grans
                        possibilitats en formació professional al barri de la Barceloneta.</b> <br><br>
                    Mitjançant sessions pràctiques que es fan a les aules de 4rt d'ESO de l'<b>Institut Salvat</b>
                    Papasseit, i sessions pràctiques als centres de formació professional: <b>Institut Narcís
                        Monturiol, La Salle Barceloneta i Institut de Nàutica de Barcelona,</b> els joves estudiants
                    poden conèixer de primera mà l'oferta formativa post-tobligatòria que s'imparteix al
                    barri. <br><br>
                    Enguany, hi ha hagut una <b>bona participació a les sessions pràctiques</b> que són de
                    caràcter voluntari i diversos alumnes ja han fet la inscripció per estudiar algun grau
                    mitjà de FP al centres educatius de la Barceloneta.
                </div>

            </div>
        </div>
</div>






<!-- Button trigger modal -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#piolModal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>