<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre la comissió d'habitatge, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-25 me-3 float-start" src="../img/habitatge-logo.jpeg" alt="">
La Comissió d'Habitatge de la Barceloneta és un <b>espai d'organització veïnal per a la defensa del dret a l'habitatge
    al barri</b>. Està constituït i liderat per veïns i veïnes, y vinculat al Pla Comunitari. Entre altres accions,
convoca mensualment <b>l'Assemblea d'Habitatge de la Barceloneta (últim dimecres de cada mes, a les 18h)</b>. Es tracta
d'un espai completament obert a la participació de totes aquelles persones i entitats de la Barceloneta que comparteixin
els seus objectius i dinàmiques de treball comú, els quals estan recollits al document Ideari i principis bàsics de la
Comissió d'Habitatge de la Barceloneta, consensuat a la Comissió el 2018. <br>
En reproduïm un extracte a continuació: <br><br>

<b>Què defensem?</b> <br> <br>

La Comissió d’Habitatge de la Barceloneta, en consonància amb col·lectius que s’han anat articulant a nivell de barris i
de tota Barcelona, defensem un canvi en el model de ciutat, insistint a la necessitat urgent, per al nostre barri i per
a la ciutat en el seu conjunt, de reduir el volum del turisme actual, així com de desenvolupar polítiques i mesures des
de l’Administració pública per donar resposta a l’emergència habitacional i també per trencar d’arrel, o al menys
limitar contundentment, les dinàmiques especulatives culpables de la dificultat en l’accés i manteniment de l’habitatge.
<br><br>


<!--acordion-->
<div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Principis que orienten la nostra acció:
            </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>Considerem el <b>dret a un habitatge digne</b> com un dret humà fonamental. No tolerarem <b>cap
                            desnonament</b> sense alternativa habitacional. Ens comprometem amb els veïns en situació de
                        risc de pèrdua de l’habitatge, i acompanyem els afectats, en el marc de l’Assemblea. Intervenim
                        per aturar els llançaments, excepte en casos de petits propietaris.
                    </li> <br>
                    <li>
                        Insistim en la <b>responsabilitat pública de garantir aquest dret</b>: totes les Administracions
                        i institucions públiques, en funció de les seves atribucions i competències, han d’impulsar
                        mesures per donar resposta a l’emergència habitacional, i també per penalitzar i perseguir
                        l’especulació. És evident que necessitem un <b>increment urgent del parc públic d’habitatge de
                            lloguer</b>, i de manera particular s’ha de cobrir la necessitat de <b>pisos adaptats per a
                            la gent gran amb problemes de mobilitat</b>, promovent el retorn a l’ús de vivenda de moltes
                        plantes baixes del barri que cada vegada més s’estan fent servir com a magatzem de bars i
                        restaurants. <b>Reivindiquem un canvi en la Llei d’Arrendaments Urbans (LAU)</b>, en la línia de
                        garantir molt més els drets dels llogaters.
                    </li> <br>
                    <li>
                        Pensem que és de vital importància que <b>els veïns i les veïnes continuïn vivint al barri</b>,
                        i les mesures públiques han de recollir també aquest objectiu. Sobre tot en el cas de la gent
                        gran amb problemes de mobilitat, quan tenen la possibilitat d’accedir a un habitatge amb serveis
                        per gent gran, habitualment han de marxar fora del barri. La xarxa de suport i solidaritat
                        veïnal pot arribar a ser un element que garanteix la supervivència, per a aquestes persones. En
                        tot cas, <b>la supervivència del barri com a tal, amb la seva identitat i vida comunitària, ha
                            de ser un objectiu a perseguir</b>.
                    </li> <br>
                    <li>
                        Creiem en <b>l’organització veïnal com a motor d’una transformació i un canvi de model</b>. Per
                        això promovem l’Assemblea, espai de solidaritat veïnal que permet la conscienciació i
                        l’organització dels veïns i les veïnes de La Barceloneta, amb l’objectiu de sumar forces a
                        l’exigència social d’aquests canvis necessaris.
                    </li> <br>
                    <li>
                        Busquem <b>fer xarxa amb altres col·lectius</b>, per enfortir la nostra lluita, i també
                        col·laborem amb els <b>serveis públics</b>, per facilitar la seva tasca de donar resposta a
                        l’emergència habitacional, així com per a l’aplicació i la implementació de les mesures que
                        s’estan impulsant per intentar garantir el dret a l’habitatge.
                    </li> <br>
                    <li>
                        Defensem la funció social de l’habitatge, que ha de ser un lloc per viure-hi, radicalment en
                        contra de la visió de l’habitatge com una mercaderia per obtenir un lucre. <b>No volem cap pis
                            turístic al barri</b>.
                    </li> <br>
                    <li>
                        Apostem pel <b>decreixement del turisme</b>. Per tant, ens oposem a qualsevol tipus d’iniciativa
                        que estigui, directa o indirectament, orientada a la promoció del turisme, o que pugui
                        beneficiar als agents que s’estan lucrant amb la turistització del barri (i la ciutat).
                    </li> <br>
                </ul>

            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                Funcionament intern de la Comissió d’Habitatge de la Barceloneta
            </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
            data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
                <ul>
                    <li>
                        <b>Funcionem com assemblea: l’estructura de la Comissió és absolutament horitzontal i democràtica</b>. Totes les decisions es prenen per consens.
                    </li><br>
                    <li>
                        <b>És un espai obert</b>: Totes les associacions i veïns que ho vulguin, s’hi poden incorporar, sempre que s’identifiquin plenament amb els principis bàsics que orienten la nostra acció, i acceptin la dinàmica de funcionament pròpia de la Comissió. Apostem pel pluralisme i la diversitat com a elements que aporten valor als processos i moviments socials, dins d’una orientació bàsicament compartida. Les iniciatives o visions que siguin contràries a punts bàsics de la nostra lluita i la nostra tasca com a Comissió, seran excloses de la mateixa, per tal de preservar la coherència i la força d’allò que fem.
                    </li><br>
                    <li>
                        <b>Defensem, i practiquem, la transparència</b>: fem pública la informació que disposem, i les accions i iniciatives engegades per part de la Comissió.
                    </li><br>
                    <li>
                        <b>Tots els membres de la Comissió ens comprometem en tasques i funcions concretes</b>. Si un veí o representant d’una entitat no té una mínima disponibilitat de temps per poder assumir-ne algunes, no es podrà incorporar com a membre de la Comissió.
                    </li><br>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>

<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>