<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#nadonsModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>

    <!-- Modal CONTACTE-->
    <div class="modal fade" id="nadonsModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte Programa Nadons en família</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-proa.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--FORMULARI DE CONTACTE-->

<!--CONTINGUT-->

<img class="img-fluid ms-3 w-50 float-end" src="../img/nadons-01.jpg" alt="">

<b>Nadons en família</b> és un espai de trobada i d'acompanyament adreçat a mares i/o famílies que acaben de tenir un nadó. <br>
Tot i que és un programa municipal d'àmbit ciutat, <b>al barri de La Barceloneta té un caràcter innovador</b>; i és doble: per una banda és una demanda històrica que <b>sorgeix des de la pròpia comunitat</b>, i és des d’aquí des d’on s’impulsa, i per l'altra, <b>incorpora la vessant comunitària</b>, que es suma a la vessant de la salut i de l'educació, amb la finalitat de promoure l’ajuda mútua entre les famílies del barri evitant l’aïllament en un període vital de certa complexitat, així com per reforçar l’arrelament i el teixit social del barri. Alhora aquest espai comunitari pretén ser un altaveu per visibilitzar la criança conscient, fomentar la cohesió entre famílies amb petita infància i posar en valor les cures (treball reproductiu).   <br><br>
<h3 class="mb-2 text-blue">A qui va dirigit?</h3>
Aquest espai està centrat preferentment en les dones que han estat mares, podent participar amb la seva criatura des de les darreres setmanes de la gestació fins als primers 8/9 mesos de vida de l'infant. <br><br>
<h3 class="mb-2 text-blue">Quan es porta a terme?</h3>
Les sessions es fan un cop per setmana (matins) i tenen una duració de 2h. <br><br>
<h3 class="mb-2 text-blue">On es porta a terme?</h3>
Equipament infantil i CAP Barceloneta. <br><br>
<h3 class="mb-2 text-blue">Qui fa l'acompanyament de l'espai?</h3>
L'equip de facilitadores de l'espai l'integra una professional de l'Institut d'Educació de Barcelona, una professional del CAP Barceloneta i una treballadora comunitària del PDC.

