<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre els projectes de salut comunitària, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->

<img class="img-fluid w-50 w- ms-2 float-end" src="../img/escola-de-salut-10.jpg" alt="">

L’Escola de Salut de la Barceloneta és un projecte comunitari que funciona des de l’any 2008, com a eina educativa al
barri, per la <b>prevenció en salut i la participació ciutadana, potenciant l’ autonomia personal i promovent l’adquisició
    d’hàbits saludables</b>. <br><br>
El projecte es construeix des del Grup Motor de l’Escola, i s'orienta especialment a:
<ul>
    <li>Potenciar l’ <b>autonomia i l'autocura</b>, a través d'un millor coneixement d’un mateix</li>
    <li>Ajudar a la creació de noves amistats, evitant l’aïllament, <b>creant xarxa social</b></li>
</ul>

L’escola s'estructura en sessions setmanals, de gener a juny. El programa es defineix cada any recollint les inquietuds
i els interessos dels i les pròpies alumnes. <b>A les sessions es treballen aspectes relacionats amb malalties físiques,
    aspectes emocionals i psicològics, alimentació saludable, sexualitat</b>, entre d’altres.
    <br><br>

<h3 class="my-4 text-blue">Grup motor de l'Escola de Salut</h3>
És el grup organitzador del projecte comunitari de l'Escola de Salut. Està <b>conformat per veïnes i veïns que han participat a l'Escola com alumnes i han decidit implicar-s'hi com a organitzadores</b>. <br>

A nivell tècnic, a més de la treballadora comunitària, en són membres del Grup Motor: 
<ul>
    <li>CAP Barceloneta (amb un important rol de lideratge)</li>
    <li>Casal Cívic Barceloneta</li>
    <li>Biblioteca Barceloneta-La Fraternitat</li>
    <li>Agència de Salut Pública de Barcelona</li>
    <li>Centre Cívic de la Barceloneta</li>
    <li>Casal de Gent Gran Mediterrània</li>
    <li>Projecte d'Acompanyament i Prevenció de la Solitud</li>
    <li>Centre de Serveis Socials de la Barceloneta</li>
    <li>Tècnica de Salut del Districte de Ciutat Vella</li>

</ul>

Es tracta d'un <b>espai obert a la participació de totes aquelles persones o entitats amb inquietuds en temes de salut que s'hi vulguin implicar</b>. Es reuneix de setembre a desembre per a la planificació de l'Escola, i de gener a juny per fer-ne un seguiment, durant els mesos de realització de les sessions. La periodicitat de les reunions és cada dos o tres mesos. 



<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="../img/escola-de-salut-09.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="../img/escola-de-salut-11.jpg">
    </div>

   <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/escola-de-salut-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/escola-de-salut-02.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.6s">
        <img src="../img/escola-de-salut-03.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.8s">
        <img src="../img/escola-de-salut-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.9s">
        <img src="../img/escola-de-salut-07.jpg">
    </div>

     <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/escola-de-salut-01.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/escola-de-salut-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/escola-de-salut-12.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="1.0s">
        <img src="../img/escola-de-salut-08.jpg">
    </div>
</div>

<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>