<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacteModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacteModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre els projectes de salut comunitària, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-50 w- ms-2 mb-2 float-end" src="../img/xarxa-entre-nosaltres-logo.jpg" alt="">
<b>La Xarxa EntreNosaltres treballa la prevenció i l’atenció d’addiccions a la Barceloneta</b>. És un objectiu que s’està treballant en el marc del Pla Comunitari des del 2011, com a resultat de la diagnosi sobre la salut al barri portada a terme per part de l’Agència de Salut Pública de Barcelona en 2010, amb el programa Salut als Barris. Al diagnòstic es detectava el consum de substàncies (fonamentalment alcohol i cànnabis) i les addiccions com a un dels problemes més alarmants a la Barceloneta, en l’àmbit de la salut. <br><br>

Des de llavors, es va començar a articular una xarxa d’entitats veïnals d’exaddictes i familiars d’addictes, així com professionals de serveis sanitaris i educatius del barri, per treballar comunitàriament el tema a través del projecte EntreNosaltres. Els objectius de la iniciativa EntreNosaltres són <b> informar i promoure la reflexió i el debat al voltant de les addiccions, per tal de poder treballar la prevenció i, al mateix temps, orientar i donar suport als addictes i als seus familiars</b>. Per això, EntreNosaltres crea una guia de recursos a l’abast de qui ho necessiti. <br><br>

La Xarxa EntreNosaltres organitza les següents <b>activitats</b>: 
<ul>
    <li>EntreNosaltres al Marítim!</li>
    <li>exposicions orientades a la prevenció amb joves</li>
    <li>sessions de testimoniatge d’exaddictes i familiars d’addictes a l'institut</li>
    <li>sessió sobre addiccions en el marc de l’Escola de Salut</li>
    <li>Marxa EntreNosaltres</li>
    <li>altres</li>
</ul>
El projecte comunitari de prevenció i atenció d'addiccions a la Barceloneta està <b>impulsat per una xarxa d’entitats veïnals d’ex addictes i familiars d’addictes, així com professionals de serveis sanitaris i educatius del barri</b>: 
<ul>
    <li>Grup d'Ajuda Mútua d'Alcohòlics Rehabilitats</li>
    <li>Associació Barceloneta Alerta</li>
    <li>Alateen</li>
    <li>Obra Social Santa Lluïsa de Marillac</li>
    <li>APC (Programa A Partir del Carrer-Serveis Socials Barceloneta)</li>
    <li>CAS Barceloneta-Hospital del Mar</li>
    <li>Casal Cívic de la Barceloneta</li>
    <li>CAP Barceloneta</li>
    <li>Centre Cívic Barceloneta</li>
    <li>Agència de Salut Pública de Barcelona</li>
    <li>Projecte Franja Barceloneta</li>
    <li>IES Joan Salvat-Papasseit</li>
    <li>Club Marítim Claror</li>
    <li>Club Natació Atlètic-Barceloneta</li>
    <li>Club Natació Barcelona</li>
    <li>Equipament de Caritas de la Barceloneta</li>
    <li>Espai de Mar</li>
    <li>Associació Esportiva Ciutat Vella</li>
    <li>Districte Ciutat Vella</li>
    <li>Col·labora: Associació de Comerciants i Industrials de la Barceloneta (ACIB), Voluntaris 2000 </li>
</ul>

Qualsevol col·lectiu, entitat o veí/na a títol individual que desitgi participar, pot col·laborar a l'organització d'activitats concretes, com la Marxa, o inclús incorporar-se de manera permanent a la Xarxa EntreNosaltres. 

<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="../img/xarxa-entre-nosaltres-01.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="../img/xarxa-entre-nosaltres-02.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.4s">
        <img src="../img/xarxa-entre-nosaltres-03.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/xarxa-entre-nosaltres-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/xarxa-entre-nosaltres-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/xarxa-entre-nosaltres-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/xarxa-entre-nosaltres-07.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/xarxa-entre-nosaltres-08.jpg">
    </div>
    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="../img/xarxa-entre-nosaltres-09.jpg">
    </div>
</div>

<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacteModal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>