<div class="row p-0">
    <hr>
    <!-- Button trigger modal CONTACTE -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#garbaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <!--Button Botiga online -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://es.bookshop.org/shop/lagarba">
                <h3 style="color: #ffc720">Botiga
                    <i class="fas fa-shopping-cart"></i>
                </h3>
            </a>
        </button>
    </div>
    <!-- Button INSTAGRAM -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://www.instagram.com/llibrerialagarba/">
                <h3 style="color: #ffc720">Instagram
                    <i class="fab fa-instagram"></i>
                </h3>
            </a>
        </button>
    </div>
    <!--Button Facebook -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://es-la.facebook.com/llibrerialagarba02">
                <h3 style="color: #ffc720">Facebook
                    <i class="fab fa-facebook"></i>
                </h3>
            </a>
        </button>
    </div>
    
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="garbaModal" tabindex="-1" aria-labelledby="garbaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="garbaModalLabel">Contacte La Garba</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">

                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-garba.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-25 float-start mb-3 me-5" src="../img/la-garba-logo.png" alt="">

<b>La Garba era l'única llibreria existent a la Barceloneta</b> quan va tancar
les seves portes el gener de 2019 i va ser recuperada a l'abril del mateix any. Això va ser possible <b>gràcies a la
    implicació de moltes persones</b> que van avalar amb la seva signatura la sol·licitud d'un crèdit a
l'entitat de finances solidàries Coop57. <br><br>
En aquesta nova etapa, a part de la venda de llibres i de
material escolar, s'han organitzat <b>tota mena d'activitats culturals relacionades amb la xarxa
    comunitària</b>:

<ul>
    <li>Presentació de llibres amb la presència dels seus autors</li>
    <li>Organització d'una setmana de defensa dels drets de la comunitat LGTBI</li>
    <li>Col·laboració amb els actes entorn del 25 de Novembre, dia Internacional per a l'Eliminació de la violència
        contre les dones</li>
</ul>

La gestió comercial de la llibreria ha estat assumida íntegrament per <a class="text-blaucel"
    href="../aba.html">l'Associació Barceloneta Alerta</a>, tal com va ser aprovat per l'Assemblea General
Extraordinària, convocada amb tal fi el
dia 12 de febrer de 2019. <br><br>
Amb la recuperació de la llibreria La Garba l'Associació Barceloneta Alerta busca:
<ul>
    <li>Revitalitzar el comerç del barri, un sector en franca decadència</li>
    <li>Conservar el que aleshores era l'únic equipament cultural no institucional</li>
    <li>Fomentar la xarxa veïnal amb projectes relacionats amb els que es desenvolupen en l'àmbit
        del Pla Comunitari
    </li>
    <li>Implicar els veïns interessats en la gestió d'un comerç local: ben aviat es constituirà la
        Comissió de la Garba en la qual aquelles persones interessades podran aportar les seves idees
        per a la continuïtat de la llibreria
    </li>
</ul>

<!--ILUSTRACIÓN LA GARBA CON PIE DE FOTO-->
<figure class="my-4">
<img src="../img/la-garba-01.jpg" alt="">
<figcaption class="figure-caption">Il·lustració d'Antoni Morell i Mestre</figcaption>
</figure>



També es contemplen projectes per al <b>suport als autors locals</b>, com la celebració d'un concurs
de relats que naixerà amb l'ànim de tenir periodicitat anual i si és possible amb la publicació
d'un llibre amb una selecció dels millors relats. <br><br>
D'altra banda ja es col·labora i s'estendrà més aquesta <b>col·laboració amb artistes locals</b> per a
vendre els seus productes en la llibreria.
Així mateix es treballa amb <b>entitats relacionades amb la cultura popular</b> per a vendre els seus
productes de marxandatge i ajudar a promoure els actes populars que aquestes entitats
programin. <br><br>
<b>L'Associació Barceloneta Alerta és una entitat sense ànim de lucre. Si com a resultat
    d'aquesta activitat es produïssin beneficis econòmics, aquests serien utilitzats per a altres
    projectes socials del barri.</b>



<!--VIDEO LA GARBA-->
<h3 class="my-4 text-blue">Vídeo</h3>
<div class="g-4 mb-2 mx-1">
    La reobertura de La Garba
</div>
<div class="row g-4 mx-1">
    <div class="col-lg-8 video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/IRpFVkMSzrg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
    </div>
    <div class="col-lg-4"></div>
</div>
<div class="row g-4 my-2 mx-1">


    <!--MAPA GOOGLE-->
    <h2 class="text-blue p-0">On som?</h2>
    <div class="row mt-2 p-0">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11974.750449080166!2d2.1890835!3d41.3808713!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x76175f08f6e58a17!2sLLIBRERIA%20%22LA%20GARBA%22!5e0!3m2!1ses!2ses!4v1659434443431!5m2!1ses!2ses"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>


    <!-- Button trigger modal CONTACTE -->
    <div class="row mt-5">
        <hr>
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#garbaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
        <hr>
    </div>