<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#rModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>

     <!-- Button INSTAGRAM -->
     <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://www.instagram.com/rbarceloneta/">
                <h3 style="color: #ffc720">Instagram
                    <i class="fab fa-instagram"></i>
                </h3>
            </a>
        </button>
    </div>

    <!-- Modal CONTACTE-->
    <div class="modal fade" id="rModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte R-Barceloneta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-proa.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<!--FORMULARI DE CONTACTE-->

<!--CONTINGUT-->
<img class="img-fluid w-50 m-2 float-end" src="../img/r-barceloneta-01.jpg" alt="">
<b>R-Barceloneta busca transformar residus del sector nàutic i marítim
de la ciutat així com plàstics recollits a la nostra costa, per
reintroduïr-los a la cadena de valor en forma de producte fomentant la
innovació, l’economia social i la conscienciació sobre l’emergència
climàtica.</b> <br><br>

Un projecte de Barceloneta Proa a la Mar i l’estudi de disseny
Nutcreatives, amb la col·laboració de l’Institut de Nàutica de Barcelona, l'FNOB
i el col·lectiu d’artesans Planeta Barceloneta. Projecte guanyador de “La ciutat proactiva 2021”, convocatòria d’ajuts a la innovació urbana de la Fundació BIT Habitat. <br><br>
<h3 class="text-blue">Per què?</h3>

Els clubs de vela i les empreses del sector nàutic i marítim que es
dediquen al manteniment i reparació de la veleria acumulen veles
malmeses que el sector no pot tornar a utilitzar, generant així un alt
volum de residus no gestionats. Alhora, les platges de la ciutat
acostumen a recollir una gran quantitat de residus plàstics
que suposen un problema de gestió i reciclatge. <b>Ambdós
    materials poden generar valor des d’una perspectiva local si són
    transformats i reintroduïts a la cadena en forma de producte per
    artesans i entitats de la Barceloneta</b>, un barri que necessita
recuperar feines que aportin valor afegit. <br><br>


<h3 class="text-blue">Què?</h3>
<b>El producte que es planteja realitzar és una col·lecció de
    bosses i motxilles fabricades a partir dels residus esmentats</b>. La
creació d’una marca pròpia facilitarà la comunicació del projecte,
convidant-los a formar-ne part a través de l’adquisició dels articles.
Amb tot això, R-Barceloneta busca ser una eina de
conscienciació social i desostenibilitat, així com d’aprenentatge
entorn a l’economia circular i la descarbonizació. <br><br>


<h3 class="text-blue">Com?</h3>
La transformació de les veles <b>posa en valor l’artesania local ajudant
    a mantenir viva la cultura popular del barri</b>, i l’adquisició de petita
maquinària per la fabricació de components en plàstic reciclat
així com l’accés obert a la ciutadania en hores improductives,
impulsa la <b>digitalització i la creativitat de la població</b>, a més de
convidar-la a que participi activament en projectes d’economia
circular i ajudi a la seva divulgació.

<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="../img/r-barceloneta-02.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="../img/r-barceloneta-03.jpg">
    </div>

   <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
    <img src="../img/r-barceloneta-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/r-barceloneta-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.6s">
        <img src="../img/r-barceloneta-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.6s">
        <img src="../img/r-barceloneta-07.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.6s">
        <img src="../img/r-barceloneta-08.jpg">
    </div>
</div>