<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacte2Modal" tabindex="-1" aria-labelledby="contacte2ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacte2ModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre Barceloneta Diversa, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->

<img class="img-fluid w-25 me-3 float-start" src="../img/barceloneta -diversa-logo.png" alt="">

La necessitat i l'interès social del projecte Barceloneta Diversa neix de la detecció de percepcions negatives que molts
veïns tenen de la població immigrada, i que es <b>posen de manifest als estereotips, prejudicis i rumors que circulen,
    tant al carrer com a les xarxes socials</b>. Resulta preocupant la proliferació al barri, els darrers temps, d'un
discurs racista que vincula la immigració amb la manca de recursos socials per a la població “autòctona”, i amb la
delinqüència. <br><br>

La crisi sanitària de la Covid 19 ha evidenciat, encara més, la manca de garanties, pel que fa als drets, de molts
sectors de la població, que ja es trobaven en situacions de vulnerabilitat i a partir de la crisi han passat a estar al
límit de la subsistència, de manera particular els i les veïnes d'orígens diversos que es troben en situació
irregular.<br><br>

Davant aquesta realitat, ens plantegem <b>treballar la cohesió social des de la mirada de la interculturalitat crítica,
    de manera transversal i implicant a tots els agents del barri possibles, sumant als veïns i les veïnes de diferents
    orígens com a protagonistes del procés</b>. Aquesta cohesió passa necessàriament per tractar d'arrel les percepcions
errònies sobre “l'altre”, entenent l'altre com el desconegut/da. Aquest desconeixement, junt amb les informacions
errònies i carregades de prejudicis que amb freqüència trobem als mitjans de comunicació, està provocant que molts veïns
arribin a viure la immigració en conjunt com una amenaça. Paral·lelament, cal desemmascarar els mecanismes generadors de
desigualtats, i explorar fórmules per reduir-les.<br><br>

La creació d'espais on els ciutadans/es tinguin l'oportunitat d'interactuar i obtenir informació ajustada a la realitat
fa possible el <b> desmuntar els rumors que porten a la por i a la creació de imatges errònies</b>. Només des de l'acció
coordinada i transversal amb els agents del barri (tant les associacions com els serveis públics) podrem <b>aturar la
    discriminació i el racisme</b> que al barri són, dissortadament, una realitat.<br><br>



<div class="">
    <h3 class="my-4 text-blue">El projecte comunitari Barceloneta Diversa</h3>
    <p class=" ">



        <!--pestañas-->

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" style="color: #ffc720" id="usuari-tab" data-bs-toggle="tab"
                data-bs-target="#usuari" type="button" role="tab" aria-controls="usuari"
                aria-selected="true">Objectius</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="gestor-tab" data-bs-toggle="tab" data-bs-target="#gestor" type="button"
                role="tab" aria-controls="gestor" aria-selected="false">Accions en marxa</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="secre-tab" data-bs-toggle="tab" data-bs-target="#secre" type="button"
                role="tab" aria-controls="secre" aria-selected="false">Espai de participació: Grup motor</button>
        </li>
    </ul>

    <!--contenido pestañas-->

    <div class="tab-content" id="myTabContent">

        <!--pestaña 1: Objectius-->
        <div class="tab-pane fade show active p-lg-5 bg-light" id="usuari" role="tabpanel" aria-labelledby="usuari-tab">
            <ul>
                <li>
                    <b>Posar en valor la riquesa cultural de la Barceloneta</b>, donant més visibilitat i espai a
                    les diferents tradicions culturals presents al barri.
                </li>
                <li>
                    <b>Trencar estereotips culturals i combatre el racisme</b>.
                </li>
                <li>
                    <b>Defensar el dret a viure dignament a la Barceloneta</b> per a totes les veïnes i veïns del
                    barri, vinguin d’on vinguin!
                </li>
            </ul>
        </div>

        <!--pestaña 2: Accions-->

        <div class="tab-pane fade p-lg-5 bg-light" id="gestor" role="tabpanel" aria-labelledby="gestor-tab">
            
            <!--Accions en marxa blogger incrustat-->
            <div class="container-fluid p-0 pb-5">
                <embed src="https://pcbarceloneta.blogspot.com/2022/07/accions-en-marxa-barceloneta-diversa.html" type="text/html" width="100%" height="1200">
            </div>
        </div>
        <!--pestaña 3: Grup motor-->

        <div class="tab-pane fade p-lg-5 bg-light" id="secre" role="tabpanel" aria-labelledby="secre-tab">
            El projecte Barceloneta Diversa està liderat per una <b>xarxa d'entitats, equipaments i serveis del
                barri</b>, en el marc del <b>Pla Comunitari</b>, amb el suport del Districte de Ciutat Vella i el
            programa BCN Interculturalitat. El Grup Motor està format per: <br>
            <ul>
                <li>Casa de la Barceloneta 1761</li>
                <li>Centre Socioeducatiu Glamparetes></li>
                <li>Biblioteca Barceloneta-La Fraternitat</li>
                <li>Associació Barceloneta Alerta</li>
            </ul>
            Hi col·laboren:
            <ul>
                <li>Escola d'Adults Barceloneta</li>
                <li>Centre Cívic Barceloneta</li>
                <li>Llibreria La Garba</li>
                <li>AMPA CEIP Mediterrània</li>
                <li>Associació Cultural Somorrostro</li>
                <li>Associació Suds</li>
                <li>Veïns, veïnes</li>
            </ul>
            <b>Teixim complicitats per la igualtat en la diversitat!</b>
        </div>
    </div>
</div>
<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="img/barceloneta-diversa-01.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="img/barceloneta-diversa-02.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.4s">
        <img src="img/barceloneta-diversa-03.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="img/barceloneta-diversa-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-07.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-08.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-09.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-10.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-11.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-12.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-13.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-14.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.2s">
        <img src="img/barceloneta-diversa-15.jpg">
    </div>
</div>

<!--VIDEO Ruta-->
<h3 class="my-4 text-blue">Vídeo</h3>
<div class="g-4 mb-2 mx-1">
    <b>Ruta guiada «La Barceloneta, un barri d'acollida. Del s. XVIII fins avui»</b> <br>
    La ruta fa un repàs de com s'ha anat construint històricament el barri de la Barceloneta gràcies a l'arribada de persones d'altres procedències, a partir de la qual s'ha anat configurant la identitat pròpia del barri, culturalment ric i divers. Hem fet el recorregut amb un grup de veïns i veïnes, de la mà de l'historiador de la Casa de la Barceloneta 1761 -un centre cultural dedicat a recuperar i difondre la història i la memòria del barri-, i altres persones vinculades a entitats i comerços del territori. 
</div>
<div class="row g-4 mx-1">
    <div class="col-lg-8 video-responsive">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/D0iTOlklmJw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-lg-4"></div>
</div>


<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacte2Modal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>