 <!-- Feature Start -->
 <div class="container-fluid bg-light overflow-hidden px-lg-0" style="margin: 6rem 0;">
    <div class="container feature px-lg-0">
        <div class="row g-0 mx-lg-0">

            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">
                    <div class="section-title text-start">
                        <h1 class="display-5 mb-4">Memòries i projectes</h1>
                    </div>
                    <p class="mb-4 pb-2">Per garantir la transparència en tots els àmbits d’actuació del Pla
                        Comunitari són públics i de lliure accés els següents documents, que recullen l’acció del
                        Pla tant a nivell tècnic com econòmic.</p>
                </div>
            </div>

            <div class="col-lg-6 feature-text py-5 wow fadeIn" data-wow-delay="0.5s">
                <div class="p-lg-5 ps-lg-0">

                    <div class="row g-4">
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2015.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2015</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2016.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2016</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2017.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2017</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2018.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2018</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2019.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2019</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2020.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2020</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-memo-2021.pdf"><i
                                            class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2021</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white"
                                    style="width: 60px; height: 60px;">
                                    <a href="pdf/pcb-projecte-2022-2023.pdf"><i
                                            class="fa fa-file-pdf fa-2x" style="color: #3b78aa"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Projecte</p>
                                    <h5 class="mb-0">2022-2023</h5>
                                </div>
                            </div>
                        </div>

                        <!--Per incloure més documents canviar: ruta <a href>, i text <p> i <h5>-->
                        <!--
                             <div class="col-6">
                            <div class="d-flex align-items-center">
                                <div class="d-flex flex-shrink-0 align-items-center justify-content-center bg-white" style="width: 60px; height: 60px;">
                                    <a href="memos/Memoria_dactuacio_2020_2021.pdf"><i class="fa fa-file-pdf fa-2x text-primary"></i></a>
                                </div>
                                <div class="ms-4">
                                    <p class="mb-2">Memòria</p>
                                    <h5 class="mb-0">2021</h5>
                                </div>
                            </div>
                        </div>
                        -->

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Feature End -->