<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#proaModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>

    <!-- Button INSTAGRAM -->
    <div class="col-lg-3 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="https://www.instagram.com/barcelonetaproalamar/">
                <h3 style="color: #ffc720">Instagram
                    <i class="fab fa-instagram"></i>
                </h3>
            </a>
        </button>
    </div>

    <!-- Button MAPA DE PERFILS -->
    <div class="col-lg-6 p-0">
        <button type="button" class="btn btn-succes text-start">
            <a href="../mapa-de-perfils.html" target="_self">
                <h3 style="color: #ffc720">Mapa de perfils professionals
                    <i class="far fa-map"></i>
                </h3>
            </a>
        </button>
    </div>

    <hr>


    <!-- Modal CONTACTE-->
    <div class="modal fade" id="proaModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte Proa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p></p>
                </div>
                <div class="modal-body">
                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-proa.html"></div>
                    <script>
                        includeHTML();
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->

<img class="img-fluid w-50 w- ms-2 float-end" src="../img/proa-a-la-mar-01.jpg" alt="">
Barceloneta Proa a la Mar (BPM) és un projecte comunitari
innovador de la Barceloneta que neix el 2013 com una <b>iniciativa veïnal</b> i que està
orientada
al
desenvolupament local del barri al voltant de <b>tres eixos</b>:
<ul>
    <li>la formació</li>
    <li>l’ocupació</li>
    <li>l’economia local sota paràmetres de l’economia social i solidària</li>
</ul>
Com a eixos transversals del projecte tenim la <b>sostenibilitat</b> i la
<b>maritimitat</b>.

<br><br>
El projecte vol implicar tots els agents del teixit socioeconòmic del territori (veïnat,
associacions i entitats, centres educatius, equipaments i serveis municipals, empreses i
administració) amb l’<b>objectiu final de donar respostes col·lectives</b> a problemàtiques
com l’atur, l’elevat percentatge d’abandonament escolar, l’empobriment de moltes famílies de
la Barceloneta i a la pressió que el model de ciutat exerceix sobre el barri. <b>Mitjançant
    respostes a aquestes necessitats més immediates, però també articulant estratègies i
    actuacions comunes a mitjà i llarg termini</b> . <br><br>
BPM té quatre grans <b>objectius estratègics</b>:
<ul>
    <li>la dinamització de l’economia local i la millora de l’oportunitat d’inserció de les
        persones aturades</li>
    <li>la millora de l’èxit escolar</li>
    <li>la recuperació del vincle amb el mar</li>
    <li>l’enfortiment dels vincles comunitaris</li>
</ul>
Per complir aquests objectius el 2015 es porta a terme un procés participatiu que culmina
amb el <a href="/pdf/pacte-local-2015.pdf" class="text-blaucel">Pacte Local per l’Ocupació
    i el Desenvolupament
    Local de la Barceloneta (2015-2020) <i class="fa fa-file-pdf text-primary"></i></a> ,
marc, ruta i indicador de les accions i compromisos que els diferents actors prenen. Enguany
el Pacte compta amb més de 80 adhesions. <br> <br>


<!--
Nou pacte. <br><br>
<div class="col-lg-6">
    <img src="../img/proa-a-la-mar-02.jpg" alt="">
</div>
-->


<!--PROJECTES-->
<div class="">
    <h3 class="my-4 text-blue">Projectes</h3>
    <p class=" ">
        <!--pestañas-->
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" style="color: #ffc720" id="tast-tab" data-bs-toggle="tab"
                    data-bs-target="#tast" type="button" role="tab" aria-controls="tast" aria-selected="true">Tast
                    d'Oficis
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="espai-tab" data-bs-toggle="tab" data-bs-target="#espai" type="button"
                    role="tab" aria-controls="espai" aria-selected="false">Espai Mediterrani</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="plastic-tab" data-bs-toggle="tab" data-bs-target="#plastic" type="button"
                    role="tab" aria-controls="plastic" aria-selected="false">Taula Plàstic 0
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="recursos-tab" data-bs-toggle="tab" data-bs-target="#recursos" type="button"
                    role="tab" aria-controls="recursos" aria-selected="false">Recursos educatius comunitaris marins
                </button>
            </li>
        </ul>

        <!--contenido pestañas-->

        <div class="tab-content" id="myTabContent">

            <!--pestaña 1: Tast d'oficis-->
            <div class="tab-pane fade show active p-lg-5 bg-light" id="tast" role="tabpanel" aria-labelledby="tast-tab">
                <h3 class="text-blue">Tast d'Oficis de la Barceloneta</h3>
                El Tast d'Oficis de la Barceloneta és un recurs educatiu d'iniciativa comunitària dirigit a alumnes de
                4t d'ESO de la Barceloneta que, mitjançant tot un seguit de sessions teòriques i pràctiques, té la
                finalitat de donar a conèixer i posar en valor les possibilitats formatives i oportunitats ocupacionals
                que ofereix el territori, així com el seu encaix entre ambdues, fomentant d'aquesta manera la formació
                professional de qualitat entre els joves del barri, tot acompanyant-los en la transició escola-treball.

                <img class="my-3" src="../img/tast-oficis.jpg" alt="">

                <!--OBJECTIU-->
                <h3 class="text-blue my-3">Objectiu</h3>
                El Tast d'Oficis pretén donar a conèixer a l'alumnat de 4t d'ESO de la Barceloneta l'àmplia formació
                professional ofertada al barri, una oferta de gran valor afegit, per tal d'animar-los a que continuïn
                formant-se més enllà dels estudis obligatoris en sectors professionals de futur. <br>

                En aquest sentit, el Tast d'Oficis de la Barceloneta pretén:
                <ul>
                    <li>Promoure l’oferta educativa postobligatòria del barri.</li>
                    <li>Apropar els joves i les seves famílies als centres educatius de la Barceloneta per conèixer els
                        cicles
                        formatius que s’hi imparteixen.</li>
                    <li>Reduir el percentatge d’abandonament escolar dels joves del barri de la Barceloneta.</li>
                    <li>Esdevenir una proposta complementària d’acompanyament i orientació formativa dels alumnes de la
                        Barceloneta, en total coordinació amb els centres educatius del barri.</li>
                    <li>Potenciar la formació professional i posar-la en valor.</li>
                    <li>Millorar l'ocupabilitat dels joves de la Barceloneta.</li>
                    <li>Difondre el Mapa dels Perfils Professionals de la Barceloneta per donar a conèixer les
                        necessitats,
                        demandes i oportunitats laborals del territori, així com els sectors professionals de l’entorn
                        potencialment generadors d’ocupació.</li>
                    <li>Que tots els centres educatius del barri comparteixin uns objectius comuns i tinguin una mirada
                        comunitària entorn l'educació.</li>
                </ul>

                <!--CONTINGUT I ÀMBIT D'NTERVENCIÓ-->
                <h3 class="text-blue my-3">Contingut i àmbits d’intervenció</h3>
                <div class="row">
                    <div class="col-md-4 p-2">
                        <div class="card">
                            <div class="card-header">
                                Mòdul 1: Ocupació i territori
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Sessió 1: Mapa de perfils professionals de la Barceloneta</li>
                                    <li>Sessió 2: Visita als diferents centres de formació professional del barri</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="card">
                            <div class="card-header">
                                Mòdul 2: Descobrint altres formes d’ocupar-se: la mirada comunitària
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Sessió 1: L’Economia social i solidària</li>
                                    <li>Sessió 2: Visita a diferents iniciatives d’emprenedoria comunitària de la
                                        Barceloneta</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 p-2">
                        <div class="card">
                            <div class="card-header">
                                Mòdul 3: Cultura laboral
                            </div>
                            <div class="card-body">
                                <ul>
                                    <li>Sessió 1: Drets laborals</li>
                                    <li>Sessió 2: Visita a empreses del territori</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!--RECURSOS EDUCATIUS-->
                <h3 class="text-blue my-3">Recursos educatius comunitaris emprats (sessions teòriques)</h3>

                <ul>
                    <li> <b>Projecció del vídeo Tast d'Oficis de la Barceloneta:</b><br>Vídeo d'edició pròpia (PDC) que
                        mostra
                        els
                        diferents graus i sortides laborals que oferten els centres de formació professional de la
                        Barceloneta
                        presentat per alumnes que actualment estan cursant els graus. Els alumnes expliquen per què van
                        triar
                        aquest cicle i per què el recomanarien a futurs alumnes. L'objectiu d'aquest vídeo és fer la
                        sessió
                        teòrica més visual, dinàmica, atractiva i propera de cara els alumnes.
                        <iframe class="my-3" width="560" height="315" src="https://www.youtube.com/embed/hIkCr7H2gik"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                    </li>
                    <li><b>Presentació del Mapa de Perfils Professionals de la Barceloneta (edició pròpia):</b><br>
                        El Mapa de
                        Perfils
                        Professionals de la Barceloneta és fruit de la diagnosi realitzada per la Comissió de Formació
                        de
                        Barceloneta Proa a la Mar. <br>
                        Aquest mapa de format digital permet visualitzar els diferents
                        jaciments
                        ocupacionals detectats al territori (litoral, port de mercaderies, port olímpic, nova bocana,
                        centre
                        urbà del barri...) de diversos àmbits professionals com són el manteniment d'embarcacions, la
                        marineria,
                        la logística, l'esport nàutic, l'educació mediambiental, l'educació en el lleure, el comerç, els
                        serveis, la restauració, etc. <br>
                        Alhora el mapa proporciona altres informacions rellevants com on
                        et pots
                        formar o quines competències requereixen els diferents perfils professionals demandants. <br>
                        L'objectiu
                        d'aquest mapa és mostrar als alumnes l'encaix entre l'oferta formativa del barri i les
                        oportunitats
                        laborals del territori per tal de visibilitzar i posar en valor el futur laboral al barri de la
                        Barceloneta. <br>

                        <!-- Button MAPA DE PERFILS -->

                        <button type="button" class="btn text-start my-3 p-0">
                            <a href="../mapa-de-perfils.html" target="_blank">
                                <h6 class="text-blue my-3">Veure el mapa de perfils professionals
                                    <i class="far fa-map"></i>
                                </h6>
                            </a>
                        </button>

                       

                    </li>
                </ul>






            </div>
            <!--pestaña 2: Espai Mediterrani-->
            <div class="tab-pane fade p-lg-5 bg-light" id="espai" role="tabpanel" aria-labelledby="espai-tab">
                <img src="../img/espai-mediterrani-logo.png" alt="">
                <h3 class="text-blue text-center mb-3">Confluència d'iniciatives socials mediambientals vinculades al
                    mar
                </h3>
                <br><br>

                L’Espai Mediterrani és un punt de trobada entre entitats i associacions que realitzen accions vinculades
                al
                medi marí a Barcelona. És un punt de confluència d’iniciatives que té per objectiu generar sinergies i
                alinear estratègies per a la cura dels mars i oceans.
                <br><br>
                <b><a href="https://espaimediterrani.org/" target="_blank">Anar a la web de l'Espai Mediterrani <i
                            class="fas fa-external-link-alt"></i> </a></b>
            </div>
            <!--pestaña 3: Taula Plàstic 0-->
            <div class="tab-pane fade p-lg-5 bg-light" id="plastic" role="tabpanel" aria-labelledby="plastic-tab">
                Text Taula plàstic 0
            </div>
            <!--pestaña 4: Recursos-->
            <div class="tab-pane fade p-lg-5 bg-light" id="recursos" role="tabpanel" aria-labelledby="recursos-tab">

                <!--acordion-->
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                08003 EL JOC <br>
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                vídeo, fotos
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Redibuixo el litoral
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                fotos
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Banderes nàutiques
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                fotos
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--ESPAI DE PARTICIPACIÓ-->
        <div class="row g-4 mt-4">
            <h3 class="text-blue">Espai de participació</h3>
            <p>La governança i l’estructura organitzativa de Barceloneta Proa a la Mar/PIOL és la
                següent:
            </p>
            <!--pestanyes-->
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" style="color: #ffc720" id="home-tab" data-bs-toggle="tab"
                        data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Grup
                        motor</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                        type="button" role="tab" aria-controls="profile" aria-selected="false">Taula d'ocupació</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active border-1" id="home" role="tabpanel" aria-labelledby="home-tab">
                    Espai
                    integrat per entitats veïnals del barri,
                    centres educatius, equipaments municipals i l’equip de treballadores
                    comunitàries, on es consensuen els objectius estratègics i les línies de treball
                    del projecte.</div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    Espai de treball format per veïnat del barri i la
                    treballadora comunitària que dinamitza el PIOL. En aquesta taula es treballa
                    tots els aspectes relacionats amb l’ocupació i la formació ocupacional del
                    projecte.</div>
            </div>
        </div>


        <!--VIDEO PROA-->
        <h3 class="my-4  text-blue">Vídeo</h3>
        <div class="g-4 mb-2 mx-1">
            En aquest vídeo podeu veure una explicació detallada del projecte a partir del minut
            1:30.
        </div>
        <div class="row g-4 mx-1">
            <div class="col-lg-8 video-responsive">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YjCEvcDLavM"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
            <div class="col-lg-4"></div>
        </div>
        <div class="row g-4 my-2 mx-1">


            <!-- Button trigger modal CONTACTE -->
            <div class="row mt-5">
                <hr>
                <!-- Button Contacte -->
                <div class="col-lg-3 p-0">
                    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal"
                        data-bs-target="#proaModal">
                        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
                    </button>
                </div>

                <hr>
            </div>