<!--FORMULARI DE CONTACTE-->
<div class="row p-0">
    <hr>
    <div class="col-lg-3 p-0">
        <!-- Button trigger modal CONTACTE -->
        <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacteModal">
            <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
        </button>
    </div>
    <hr>
    <!-- Modal CONTACTE-->
    <div class="modal fade" id="contacteModal" tabindex="-1" aria-labelledby="contacteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contacteModalLabel">Contacte</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <p>Si vols informació sobre el projecte Bon veïnatge amb la gent gran, vols participar-hi o tens
                        idees i propostes, escriu i et contestarem tan aviat com sigui possible
                        :)</p>
                </div>
                <div class="modal-body">

                    <!--Formulari de contacte-->
                    <div w3-include-html="layouts/formulari-salut.html"></div>
                    <script>
                        includeHTML();
                    </script>

                </div>
            </div>
        </div>
    </div>
</div>
<!--FORMULARI DE CONTACTE-->


<img class="img-fluid w-50 w- ms-2 float-end" src="../img/bon-veinatge-01.jpg" alt="">
Iniciativa veïnal orientada a disminuir el sentiment de soledat i aïllament de les persones
grans del barri, a reforçar la seva autonomia personal i la seva xarxa social, i a defensar els
seus drets socials. El projecte, impulsat des de l’<b>Associació Barceloneta Alerta</b> des de
l’any 2005, es porta a terme a través d’un grup de voluntaris, que realitzen les tasques
següents:
<ul>
    <li>Companyia setmanal: Acompanyen setmanalment persones grans que es troben soles i en
        situació d’aïllament. Les acompanyen a passejar, a comprar, o als casals de gent gran
        del barri per facilitar que puguin participar en les activitats i tallers.</li>
    <li>Acompanyaments puntuals i gestions: Acompanyen puntualment una persona gran amb
        dificultat de mobilitat per anar al metge o fer alguna gestió.</li>
    <li>Sortides amb grup: De tant en tant es fan sortides grupals per tal de promoure espais
        comuns entre els col·laboradors i les persones grans.</li>
</ul>
Per fer possible el projecte es compta amb la col·laboració del CAP i del Centre de Serveis
Socials del barri, que ofereixen formació per poder desenvolupar millor la tasca dels
col·laboradors. <br><br>

<b>Espai de participació</b>:
el grup de col·laboradors de Bon Veïnatge amb la Gent Gran es reuneix cada dos o tres mesos
per intercanviar experiències i decidir les activitats impulsades en el marc del projecte.
<br><br>
<b>Com s’hi pot col·laborar?</b>
<ul>
    <li>
        Com a voluntari amb la gent gran.
    </li>
    <li>
        Donant informació del projecte a altres veïns que vulguin col·laborar, o a persones
        grans que en tinguin la necessitat.
    </li>
</ul>

Els voluntaris poden col·laborar de manera més continuada, o bé més esporàdicament, en
funció de la seva disponibilitat i motivació. Tot el temps que es pugui dedicar a donar suport
a la gent gran és benvingut! <br><br>

<!--Masonry FOTOS-->
<div class="masonry my-3">
    <div class="mItem wow fadeInUp" data-wow-delay="0.1s">
        <img src="../img/bon-veinatge-02.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.3s">
        <img src="../img/bon-veinatge-03.jpg">
    </div>

   <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
    <img src="../img/bon-veinatge-04.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.5s">
        <img src="../img/bon-veinatge-05.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.6s">
        <img src="../img/bon-veinatge-06.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.8s">
        <img src="../img/bon-veinatge-07.jpg">
    </div>

    <div class="mItem wow fadeInUp" data-wow-delay="0.9s">
        <img src="../img/bon-veinatge-08.jpg">
    </div>
</div>

<!-- Button trigger modal CONTACTE -->
<div class="row mt-5">
    <hr>
    <button type="button" class="btn btn-succes text-start" data-bs-toggle="modal" data-bs-target="#contacteModal">
        <h3 style="color: #ffc720">Contacte <i class="far fa-comment-dots"></i></h3>
    </button>
    <hr>
</div>