<!-- Navbar Start -->
<nav class="navbar navbar-expand-xl bg-white navbar-light p-0"
style="background-image: url(../img/mapa-barceloneta.png); background-repeat: no-repeat; background-position: left center; background-size: 300px ">
<a href="index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
    <h2 class="m-0 text-primary d-none d-sm-block">Pla Comunitari Barceloneta</h2>
    <h2 class="m-0 text-primary d-block d-sm-none">Pla Comunitari <br> Barceloneta</h2>
</a>
<button type="button" class="navbar-toggler no-border me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
    <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse" id="navbarCollapse">
    <div class="navbar-nav ms-auto p-4 p-lg-0">

        <a href="nosaltres.html" class="nav-item nav-link">Nosaltres</a>

        <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Àmbits de treball</a>
            <div class="dropdown-menu fade-up m-0">
                <a href="ocupacio-formacio-economia-local-ess.html" class="dropdown-item">Ocupació Formació -
                    Economia local - ESS</a>
                <a href="../salut-comunitaria.html" class="dropdown-item">Salut comunitària</a>
                <a href="../habitatge.html" class="dropdown-item">Habitatge</a>
                <a href="../educacio-comunitaria.html" class="dropdown-item">Educació comunitària</a>
                <a href="../suport-mutu.html" class="dropdown-item">Suport mutu</a>
                <a href="../justicia-social.html" class="dropdown-item">Justícia social</a>
                <a href="../serveis.html" class="dropdown-item">Serveis Comunitaris</a>
            </div>
        </div>
        <a href="noticies.html" class="nav-item nav-link">Noticies</a>
        <a href="transparencia.html" class="nav-item nav-link">Transparència</a>
        <a href="contacte.html" class="nav-item nav-link">Contacte</a>
    </div>
</div>
</nav>
<!-- Navbar End -->